.custom-slider {
    width: 800px;
    max-width: 100%;
    margin: auto;
}

.vueperslide__title {
    font-size: 15px;
    text-align: justify;
    padding: 40px;
}

.vueperslide__content {
    font-size: 12px;
    color: grey;
    font-style: italic;
}

@media (max-width: 600px) {
    .custom-slider {
        width: auto;
        height: 250px;
    }

    .vueperslide__title {
        font-size: 15px;
        text-align: center;
        padding: 5px;
    }

    .vueperslides__parallax-wrapper {
        padding-bottom: 200px !important;
    }
}
